doctype html
html
  head
    title= title
    link(rel="icon" href="/images/favicon.ico")
    link(rel='stylesheet', href=`/stylesheets/${cssfiles}.css`)
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js" integrity="sha512-opAQpVko4oSCRtt9X4IgpmRkINW9JFIV3An2bZWeFwbsVvDxEkl4TEDiQ2vyhO2TDWfk/lC+0L1dzC5FxKFeJw==" crossorigin="anonymous")
    script(src='/javascripts/Menu/menu.js' type='module')

    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
  .background
  .main__container
    header.header__container
        .minimized-panels
        .logo__container
          img(src="/images/logo.png")
          h1=title
        .logged-user
          p=`Zalogowany: ${login}`
          a(href="/logout")
            img(src='/images/logout.png')
    .main__section
      aside.navigation__container
        button.button__hide-nav
          span
          span
          span
        nav.header__navigation
            ul
      block content
script(src=`/javascripts/${jsfiles}` type='module')
script(src='/javascripts/datalabel_plugin.js')
    //- footer.footer__container
    //-   p='Copyright 2020 MPY'
