doctype html
html
    head
        title= title
        link(rel="icon" href="/images/favicon.ico")
        link(rel='stylesheet' href=`/stylesheets/${cssfiles}.css`)

        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    .main__container
        .auth__wrapper
            .auth__container
                h1()='Witaj'
                img(src='images/logo.png' class='logo--img')
                .auth__fields
                    .auth__inputs
                        label(for="login" class="login__label")='Login:'
                            input(id="login" name="login" class="auth__input" required)
                        label(for="password" class="password__label")='Hasło:'
                            input(id="password" name="password" type="password" class="auth__input" required)
                    button(id='send' class="auth--button") Zaloguj
    script(src=`/javascripts/${jsfiles}` type="module")