extends layout

block content
    .container
        .daily-report
            h1='Raport codzienny'
            .persons
                .available-persons
                    h2='Dostępne'
                .added-persons
                    h2='Dodane'
        .monthly-report
            h1='Raport miesięczny'
            .persons
                .available-persons
                    h2='Dostępne'
                .added-persons
                    h2='Dodane'