extends layout

block content
    .container
        .daily__report
        h3='Raport dzienny'
            .all-machines
                h3='Wszystkie maszyny'
                button.download='Pobierz'
            .select-machines
                h3='Wybierz maszyny'
        .month__report
        h3='Raport miesięczny'
            .all-machines
                h3='Wszystkie maszyny'
                button.download='Pobierz'
            .select-machines
                h3='Wybierz maszyny'

    script(src=`javascripts/Reports/${jsfiles}` type='module')